/* ///////////// Navigation ////////////// */
$primary-color: #0fd9a3;

header {
    background: $primary-color;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
/* ///////////// Navigation end ////////////// */
